/* Setting background image and positioning iut */
/* Setting font to every element in reset password page */
.reset-password-card-title, .reset-password-card-text, .reset-password-card-input, .reset-password-card-button, .reset-password-card-alert  {
  font-family: 'Open Sans' !important;
}
/* Setting heading font size to 36 */
.reset-password-card-title {
  font-size: 36px;
}
/* Setting font size for text in the card */
.reset-password-card-text {
  font-size: 16px;
  margin-bottom: 15px !important;
}
/* Positioning the card */
.reset-password-card {
  background-color: rgba(255, 255, 255, 0.8) !important;
  max-width: 80%;
  margin-left: 10%;
  margin-top: 15%;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 20px;
}
/* Positioning the input field in the card */
.reset-password-card-input {
  max-width: 60%;
  margin-left: 20%;
}
/* Media query for displaying input field and button in block format */
@media screen and (max-width: 786px) { 
  .reset-password-card {
    margin-left: 5%;
    max-width: 90%;
    padding-bottom: 15px;
  }
  .reset-password-card-input-group {
    display: block !important;
  }
  .reset-password-card-input {
    width: 100% !important;
  }
}
/* Styling of div tag that controls when to show alert tag */
.reset-password-alert-condition {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;  
}
/* Styling the alert */
.reset-password-card-alert {
  width: fit-content;
  position: absolute;
  top: 50%;
  padding: 0.5rem 0.5rem !important;
  background-color: #F6D5D5 !important;
  font-size: 16px;
  color: #f33332 !important;
}
/* Styling the button */
.reset-password-card-button {
  background-color: #800000 !important;
  border: none !important;
}