/* Reset styles */
html,body, body  { 
    box-sizing: border-box; 
    font-size: 16px;  
    margin:0;
    padding:0;
    color:inherit;
   
    /* border:2px solid orange; */
 }

 body {
    background-image: url(pic.jpg);
    background-size:  cover;
    background-position:center center;
    
  }
  .container {
      width: 100%;
      padding-top: 7px;
      padding-bottom: 0px;
  }
    i {
    margin-left: -30px;
    cursor: pointer;
    }


  .Signin-Signup-wrapper {
      height: 700px;
      width: 530px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
      overflow: hidden;      
      background-color: rgba(255,255,255, 0.8)!important;
      -webkit-animation: bummer 2s;
        animation: zoomIn 2s;
        -webkit-transform: scale(0,0); 
        transform: scale(0,0);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
  }
  @-webkit-keyframes zoomIn {
    100% {
        -webkit-transform: scale(1,1); 
    }
}

@keyframes zoomIn {
    100% {
        transform: scale(1,1); 
    }
}

  
  /* Nav buttons */
  .nav-buttons {
    width: 100%;
    height: 100px;
    padding-top: 0px;
    opacity: 0.9;
    margin-bottom: 3em;
    font-size:14px;
  }
  button {
      font-size: 1.5em;
      border:0px;
      cursor: pointer; 
  }
  /* button:focus {
      outline: 0px;
  } */
  
    /* form styling */
    .form-group input {
        width: 90%;
        height: 40px;
        padding-left: 15px;
        align-items: center;        
        border: 2px solid gray;       
        margin-bottom: 10px;
        background: rgba(255,255,255);
    }
    .form-group {      
      /* padding-left: 65px; */
      padding-right: 25px;
      padding-left: 55px;
    /* align-items: center; */
        
    }
    /* input.submit {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1em;
        text-align: center;
        color: rgba(255,255,255, 1);
        padding: 8px 0px;
        width: 80%;
        height: 40px;
        border: none;
        border-radius: 20px;
        margin-top: 15px;
        background-color: rgba(16,89,255, 1);
    
    } */

    /*Form positioning and animation */

    form#Signupform {
        align-items: center;
        top:-560px;
        position:relative;
    }

    form, .forgot-panel { 
        position: relative;
        transition: all .2s ease;
    }
    #SigninBtn, #SignupBtn {
        transition: all .2s ease;

    }

    .btn-linkedin{
        background-color:  #0077b5;
    }

    .btn-google{
        background-color: #dd4b39;
    }

    .btn-fb{
        background-color:  #3b5998;
    }